body{
background-image: url(https://cdna.artstation.com/p/assets/images/images/010/701/232/large/beeple-04-29-18.jpg?1525785524);
 -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
height: 1800px;
padding: 0px;
margin: 0px;
color: white;
font-family: FreeMono, monospace;
}
img{
	width: 21vw;
	height: 65vh;
	border:solid;
	border-color: #2D2D44;
	border-radius: 15px;
	user-select: none;
}
span{
	user-select: none;
}
br{
	user-select: none;
}
.NavBar{ 
	position: absolute;
	opacity: 0.9;
	left: 15vw;
	width: 70vw;
	right: 15vw;
	height: 50px;
	background-color: #2D2D44;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.NavBarButtonGroup{
	position: inherit;
	width: 80vw;
	margin-left: 3vw;
	margin-right: 3vw;
	height: 100%;
}
.NavBarButton{

    height:70%; 
    float:left; 
    padding-top: 15px; 
    text-align:center;
    width:16vw; 
}
.NavBarRef{
	user-select: none;
	text-decoration-color: white;
	text-decoration: none;
	color: white;
}
.NavBarLeftCorner:hover{
	border-bottom-left-radius: 15px;
}
.NavBarRightCorner:hover{
	border-bottom-right-radius: 15px;
}
.NavBarButton:hover{
background-color: #1E1E2C;

}

.ContentMenu{
	position: absolute;
	opacity: 0.95;	
	left: 15vw;
	width: 70vw;
	right: 15vw;
	height: 243%;
	top:100px;
	background-color: #1E1E2C;
	border-radius: 15px;
}
.introduce{
	position: inherit;
	top: 5vw;
	margin-left: 7vw;
	margin-right: 5vw;
	width: 80vw;
	height: 70vh;	
}
.IntrodContent{
	position: inherit;
	margin-left:33vw;
	margin-right: 3vw;
	height: 70vh;
	width: 34vw;
	top:50px;
	text-align: center;
font-size: 1.2vw;
}
.introduceSecondBlock{
	position: inherit;
	margin-top: 45vw;
	margin-left: 42.2vw;
	margin-right: 3vw;
	width: 80vw;
	height: 70vh;	
}
.IntrodContentSecondBlock{
	position: inherit;
		margin-top: 40vw;
	margin-left:4vw;
	margin-right: 3vw;
	height: 70vh;
	width: 32vw;
	top:55px;
	text-align: center;
font-size: 1.2vw;
}
.introduceThirdBlock{
	position: inherit;
	margin-top: 90vw;
	margin-left: 7vw;
	margin-right: 5vw;
	width: 80vw;
	height: 70vh;	
}
.IntrodContentThirdBlock{
	position: inherit;
	margin-top: 85vw;
	margin-left:33vw;
	margin-right: 3vw;
	height: 70vh;
	width: 32vw;
	top:55px;
	text-align: center;
font-size: 1.2vw;
}
.footer{

	position: absolute;
	opacity: 0.9;
	top:255vh;
	left: 15vw;
	width: 70vw;
	right: 15vw;
	height: 50px;
	background-color: #2D2D44;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	text-align: center;
}
